.contact-page {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.contact-page h1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}

.contact-page p {
  font-size: 18px;
  color: #555;
  text-align: center;
}

.contact-info {
  margin-bottom: 30px;
  text-align: center;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.text-center {
  color: white; /* Chỉnh màu chữ thành trắng */
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.spa-heading{
  font-family: 'Smiley';
}
button:hover {
  background-color: #0056b3;
}

.map-container {
  width: 100vw; /* Chiếm toàn bộ chiều rộng màn hình */
  margin: 0; /* Loại bỏ khoảng cách bên ngoài */
  padding: 0; /* Loại bỏ khoảng cách bên trong */
  position: relative; /* Đảm bảo không bị ảnh hưởng bởi các thành phần khác */
  left: 50%; /* Đẩy container vào giữa */
  transform: translateX(-50%); /* Cân bằng để căn giữa */
}

.map-container iframe {
  width: 100%; /* Chiếm toàn bộ chiều rộng của phần tử cha */
  height: 600px; /* Chiều cao có thể điều chỉnh theo ý muốn */
  border: none; /* Loại bỏ viền */
}

.contact-page {
  margin: 0; /* Loại bỏ khoảng cách mặc định */
  padding-bottom: 0; /* Loại bỏ khoảng cách phía dưới */
}

