.HeroBanner {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px); /* Tính toán chiều cao còn lại sau header và footer */
    background-image: url(../../assets/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  
}

.herobanner-img {
    max-width: 100%;
    margin: auto; /* Đảm bảo căn giữa hình ảnh */
}

.herro-banner-content {
    align-items: center;
    flex-grow: 1; /* Đảm bảo nội dung chiếm đủ không gian còn lại */
}

.style-content h1 {
    color: #971E3E;
    font-size: 40px;
    font-family: 'Smiley', sans-serif;
}

.style-content p {
    color: #e09226;
}

/* Mobile responsiveness */
@media (max-width: 575.98px) { 
    .HeroBanner {
        min-height: auto;
        padding-top: 20px;
    }
    .style-content h1 {
        font-size: 30px;
        text-align: center;
    }
    .style-content p {
        font-size: 14px;
        text-align: center;
    }
}

@media (max-width: 767.98px) { 
    .HeroBanner {
        min-height: auto;
        padding-top: 20px;
    }
    .style-content h1 {
        font-size: 30px;
        text-align: center;
    }
    .style-content p {
        font-size: 14px;
        text-align: center;
    }
}

@media (max-width: 991.98px) { 
    .HeroBanner {
        min-height: auto;
        padding-top: 20px;
    }
    .style-content h1 {
        font-size: 30px;
    }
}

@media (max-width: 1199.98px) {
    .HeroBanner {
        min-height: auto;
    }
}
