/* src/service.css */
.service-page {
  padding: 50px 0;
  background: linear-gradient(to bottom, #3885b9 0%, #46e784 50%);
}
.spa-heading{
  font-family: 'Smiley';
}
.service-page h1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #b52a5d;
  
}

.service-page h2{
  font-size: 30px;
  margin-bottom: 30px;
  color: #b52a5d;
}

.service-page .row .col-sm-12 {
  margin-bottom: 30px;
}

.service-page h3 {
  font-size: 24px;
  color: #ff0099;
  margin-top: 20px;
}

.service-page p {
  font-size: 16px;
  color: #333;
}

.service-img {
  width: 100%; /* Đặt ảnh tự động chiếm toàn bộ chiều rộng cột */
  height: auto; /* Đảm bảo tỷ lệ ảnh được giữ nguyên */
  border-radius: 10px; /* Bo góc ảnh */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Thêm bóng cho ảnh */
  margin-bottom: 15px;
}
.card-link {
  text-decoration: none; /* Bỏ gạch dưới cho Link */
  color: inherit; /* Giữ lại màu chữ ban đầu */
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px); /* Thêm hiệu ứng di chuyển nhẹ khi hover */
}
